/*  con font-size 62.5 tengo que 1 rem = 10 px, en vez de 16px por default*/
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* desktop hata 1200px*/
body{
    background-color: #000;
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    justify-content: baseline;
    align-items: center;
    padding: 20px 10%;
    /* box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3); */
    margin-bottom: 20px;
}
h1 {
    /* color: royalblue; */
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}
#boton-carrito {
    border: none;
    color:  #000;
    font-size: 60px;
    width: 15%;
    background-color:  rgb(184, 88, 152);
    /* border-radius: 50%; */
    /* padding: 10px 20px; */
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(184, 88, 152);
}
#boton-carrito:focus {
    outline: none;
}

.titPpal{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    width: 50%;
    font-size: 4rem;
}
.leyendaPpal{
    /* position: absolute; */
    margin-top: 200px;
    color: #dfe;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    font-size: 2rem;
}
.titProductos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: rgb(184, 88, 152);
}

.imgProductos{    
    max-width: 1200px;
    margin:60px auto;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}
.imagen{
    width: 250px;
    height: 270px;
    margin: auto;
    padding-left: 50px;
    padding-top: 10px;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    
}
.contImg{
    /* background-color: aqua; */
    width: 300px;
    height: 450px;
    /* border: 3rem;
    border-color: antiquewhite; */
    border: 3px solid rgb(184, 88, 152);
    margin-top: 80px;
}

.formulario{
    position: relative;
    background-color: white;
    color: #000;
    width: 600px;
    height: 300px;
    border: 4px solid rgb(184, 88, 152);
    margin-top: 20px;
    padding: 20px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s; */
}
.campoNumerico {
    width: 100px;
    background-color: #cecac5;
    text-align: right;
}
.letraPrecio{
    color: rgb(184, 88, 152);
    font-size: 1.5rem;
    padding-left: 50px;
}
.cantidad{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 280px;
}
.container-fluid{ 
    background-color: #000;
    /* margin: 20px auto;
    font-family: 'Dancing Script', cursive; 
    font-size:62.5%;
    position: relative;
    height: 122rem; */
}


.modal-contenedor, .modal-contenedorE{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}
.form-contenedor{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}
.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito{
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    width: 150px;
    color: black;
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(32, 9, 14);
    border: none;
    background-color: white;
}
/* .saludo-final #saludo-cerrar{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(32, 9, 14);
    border: none;
    background-color: white;
} */
.modal-carritoE{
    position: relative;
    min-width: 400px;
    padding: 20px;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(225, 65, 100);
    border: none;
    background-color: white;
    transition:all .5s;
}
/* .saludo-final{
    position: relative;
    min-width: 400px;
    padding: 20px;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(225, 65, 100);
    border: none;
    background-color: white;
    transition:all .5s;
} */
.modal-carritoE #carritoCerrarE{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(32, 9, 14);
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carritoE #carritoCerrarE:hover {
    cursor: pointer;
}
.modal-carritoE #carritoCerrarE:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid rgb(184, 88, 152);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid black;
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
    float: left;
}
#confirmaPedido {
    background-color: white;
    color: black;
    border: none;
    font-size: 25px;
    float: right;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}

#inputNombre, #inputDireccion{
    background-color:rgb(231, 207, 223);
}
.btnF{
    margin-top: 30px;
}




































.fotoFondo{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    filter:opacity(40%);

}
.header{ 
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: rgb(184, 88, 152);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* position: fixed; */
    /* padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    flex-wrap: wrap; */
}
.imgHeader{
    width: 400px;
    height: 200px;
}
.logo_img{  
    width: 12rem;
    height: 12rem;
}
.header__menu ul{   
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: right;
    line-height: 90px;
   
}
.header__menu ul li{  
    list-style: none;
    
}
.header__menu ul li a{  
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
    font-style: italic;
    display:block;
    float: left;
    padding: 8px;
    text-shadow: -2px 2px 7px #000;
    
}

.header__menu ul li a:hover{  
    background-color: rgb(243, 166, 224);
}
.iframe{    
    /* grid-area: iframe; */
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 30px;
}
.iframe img{    
    width: 30rem;
    height: 30rem;
    border:  #000 0.1rem solid ;
    position: relative;
    transition: all 2s;
}

.iframe img:hover{
    transform: scale(1.1);
}

.vacio{ 
    height: 370px;
    width: 400px;
    text-align: center;
    font-size: 2rem;
    line-height: 100px;
    border: #000 0.2rem solid;
    position: relative;
}
.Parrafo1{   
    /* grid-area: Parrafo1; */
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}
.Parrafo1__header {   
    height: 60px;
    margin-top: 30px;
    position: relative;
    
} 
.Parrafo1__titulo{   
    width: 100%;
    height: 80px;
    font-size: 2rem;
    margin-left: 20px;
}

.Parrafo1__p{ 
    margin: auto;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 1rem;  /* esto equivale a 15px */
    width: 100%;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    /* height: 300px; */
    height: 30rem;
    margin: auto;
    text-align: justify;
    background-color: rgb(246, 244, 241, 0.6);
}
.Parrafo2{  
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}
.Parrafo2__header{   
    height: 60px;
    margin-top: 30px;
    position: relative;
}
.Parrafo2__titulo{   
    width: 100%;
    height: 80px;
    font-size: 2rem;
    margin-left: 20px;
}

.Parrafo2__p{ 
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px 30px;
    font-size: 1rem;  /* esto equivale a 15px */
    width: 100%;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    /* height: 180px; */
    height: 20rem;
    margin: auto;
    text-align: justify;
    background-color: rgb(246, 244, 241, 0.6);
}
.encuesta{   
    display: flex;
    align-items: center;
}
.encuesta__titulo{  
    width: 60%;
    line-height: 150px;
    font-size: 2.5rem;
    display: inline;
}

.encuesta a{   
    margin-top: 10px ;
    background-color: aquamarine;
    color: black; 
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 230px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    position: relative;
    height: 40px;
    border-color:rgb(243, 166, 224);
    border-style: solid;
}

.footer{   
    height: 150px;
    position: relative;
    background-color: rgb(246, 244, 241, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer__p{ 
    font-size: 1.5rem;
    color: black;
    line-height: 30px;
    text-align: left;
}
.footer__contacto{  
    display: inline-block;
    width: 120px;
    height: 50px;
    color: black;
    line-height: 30px;
    text-align: center;
    /* margin-left: 100px; */
    background-color: aquamarine;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border-color:rgb(243, 166, 224);
    border-style: solid;
}
.footer__contacto a{  
    line-height: 50px;  
    text-decoration: none;
}

.footer__leyendas{
    display: inline-block;
    width: 150px;
    height: 30px;
    margin-left: 180px;
    margin-bottom: 20px;
}
.footer__leyendas p{  
    text-align: center;
    font-size: 1.4rem;
}
.footer__leyendas .iconos{  
    width: 150px;
    height: 50px;
    text-align: center;
    margin-top: 10px;
}
.icon-facebook, .icon-instagram, .icon-linkedin{ 
    display: inline-block;
    padding: 5px;
    font-size: 25px;
    color: black;
}


/*----------------  página quiensoy------------ */
.qs__cuerpo{ 
    width: 100%;
    height: 1045px;
    font-size: 3rem;
}
.qs__titulo{
    width:70% ;
    text-align: center;
    font-size: 2rem;
    font-style: italic; 
}
/* ----------------página de encuesta------------- */

.en__titGral1{ 
    display: inline-block;  
    margin-left:100px;
    margin-top: 40px;
    font-size: 2.5rem;
    font-style: italic; 
    font-weight: bold;
}
.en__titGral2{ 
    display: inline-block;  
    margin-left:150px;
    margin-top: 40px;
    font-size: 2.5rem;
    font-style: italic; 
    font-weight: bold;
}
.en__cuerpo{ 
    width: 100%;
    height: 1300px;
    margin-top: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.en__tituloLabel{
    font-style: normal;    
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin-top:15px;
    margin-left: 20px;
}

.radio{    
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin-left: 20px;
}

input[type=radio] { border: 0px; width: 2%; height: 1em; }

.en__vacio{ 
    height: 50px;
}
.en__vacio1{ 
    height: 25px;
}

.agrandarTamaño{    
    font-size: 2rem;
}

.en__submit{   
    width: 300px;
    text-align: center;
    display: inline-block;
}   
.en__boton{ 
    color: black;
    display: inline-block;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0px;
    width: 450px;
    text-decoration: none;
    text-align: center;
    background-color: aquamarine;
    border-color:rgb(243, 166, 224);
    border-style: solid;
}   
 

/* -------------página biblioteca------------- */

.bl__titGral{   
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-style: italic; 
    color: black;
    position: relative;
}

.bl__global{   
    width: 90%;
    height: 1400px;
    overflow: scroll;
    position: relative;
    padding: 0px 30px;
    margin-bottom: 60px;
}
.bl__tituloLibro{  
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    margin-top: 30px;
}
.bl__tituloAutor{    
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
    margin: auto;
}
.bl__tituloRaya{    
    text-align: center;
    width: 15%;
    margin: auto;
    color: rgb(237, 231,238);
    margin-top: 10px;
}
.bl__descpLibro{    
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;  
}
.bl__linkLibro{ 
    background-color: aquamarine;
    border-color:rgb(243, 166, 224);
    border-style: solid;
    color: white;
    font-size: 1.5rem;
    padding: 10px 0px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    line-height: 10px;
}
.libros a{  
    display: block;
    margin: auto;
    width: 200px;
}
.bl__vacio{ 
    height: 60px;
}
/* -----------------------página Particulares-Empreas-Quien soy------------ */

.pa-em-qs__titGral{   
    display: inline-block;
    margin-left: 180px;
    margin-top: 20px;
    font-size: 2.5rem;
    font-style: italic; 
    font-weight: bold;
  
}
.pa-em-qs__iframe{ 
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 40px;
    
}


.pa-em-qs__iframe img{    
    width: 30rem;
    height: 40rem;
    border: #000 0.2rem solid;
    position: relative;
    transition: all 2s;
}

.pa-em-qs__iframe img:hover{    
    transform: scale(1.1);
}

.pa-em-qs__global{    
    width: 100%;
    height: 800px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
}


.pa-em-qs__mensaje{ 
    margin: auto;
    padding: 10px 30px;
    font-size: 1.4rem;  /* esto equivale a 15px */
    width: 100%;
    line-height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    height: 500px;
    text-align: justify;
    background-color: rgb(246, 244, 241, 0.6);
}


.pa-em-qs__turnos{
    width: 100%;
    text-align: left;
    font-size: 3rem;
    font-style: italic; 
    position: relative;
    margin-left: 30px;
    height: 300px;
    display: flex;
    align-items: center;
}

/*------------------ pagina de contacto-------------- */

.co__global{   
    width: 100%;
    height: 1600px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.co__tituloLabel{
    font-style: normal;    
    font-size: 2rem;
    font-weight: bold;
    color: black;
    display: block;
    line-height: 60px;
    margin-left: 30px;
}
.co__caja{ 
    width: 300px;
    line-height: 50px;
    border: 1px;
    background-color:rgb(203, 247, 232) ;
    margin-left: 30px;
    padding-left: 20px;
}


.co__caja:hover{
    background-image: linear-gradient(rgb(203, 247, 232), rgb(243, 184, 228));
}
.co__caja:focus{
    box-shadow: 10px 5px 5px black;
    transform: translate(50px,0);
    transition: 2s;
    transform: scaleX(1.1);
    outline: none;
    background-color: #dfe;
    border: 0;
    background-image: linear-gradient(rgb(203, 247, 232), rgb(243, 203, 233));
}

.co__caja1{ 
    width: 470px;
    height: 200px;
    background-color:rgb(203, 247, 232) ;
    margin-left: 30px;
    padding-left: 20px;
}

.co__caja1:hover{
    background-image: linear-gradient(rgb(203, 247, 232), rgb(243, 184, 228));
}
.co__caja1:focus{
    box-shadow: 10px 5px 5px black;
    transform: translate(50px,0);
    transition: 2s;
    transform: scaleX(1.1);
    outline: none;
    background-color: #dfe;
    border: 0;
    background-image: linear-gradient(rgb(203, 247, 232), rgb(243, 203, 233));
}



.co__botones{   
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}
.co__boton{ 
    color: black;
    display: inline-block;
    font-size: 1rem;
    padding: 10px 0px;
    width: 120px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    border-color:rgb(243, 166, 224);
    border-style: solid;
    margin-left: 30px;
}  

input[type=text] { border: 1px; font-size: 1.2rem; }

textarea { border: 1px; font-size: 1.2rem; }


.co__submit{    
 
    height: 50px;
    color: black;
    line-height: 30px;
    text-align: center;
    display: inline-block;      
    margin-top: 50px;
 
} 
.co__reset{    
    width: 120px;
    height: 50px;
    text-align: center;
    display: inline-block;  
    margin-left: 220px; 
    margin-top: 50px;
  
} 
/*------------------------------------ prueba de adapacion de las fotos del index ----------------------------*/
@media screen and (min-width:781px) and (max-width:991px) {

    .iframe img{    
        width: 20rem;
        height: 20rem;
     }
    .header__menu ul li a{ 
         font-size: 1.2rem;
     }
}
/*-------------------------------------- adaptación para tablet------------------------ */
@media screen and (min-width:500px) and (max-width:780px) {
    .container{ 
        height: 110rem;
    }

    
    .header{ 
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
    }
    .logo_img{   
        width: 10rem;
        height: 10rem;
       } 
     
    .header__menu{   
     height: 60px;
     align-items: flex-start;
     
    }
    .header__menu ul{  
     display: flex; 
     line-height: 2px;
     
    }
    .header__menu ul li a{  
     font-size: 1rem;
     padding: 8px;
     
    }

    .iframe img{    
        width: 15rem;
        height: 15rem;
     }

    .Parrafo1__p{ 
     line-height: 15px;
     height: 400px;   
    }
    .Parrafo2__p{    
     line-height: 15px;
    }
  
    .encuesta__titulo{ 
        width: 100%;
        font-size: 1.6rem;
        line-height: 30px;
     }
    .encuesta a{   
     margin-top: 0px;
     font-size: 0.9rem;
     margin-right: 70px;    
    }
  
    .footer__contacto{  
     margin-left: 70px;
     height: 40px;
    }
    .footer__p{  
        width: 150px;;
    }
    .footer__contacto a{  
     line-height: 40px;
    }
    .footer__leyendas{
     margin-left: 20px;
    }
    .co__caja{ 
        width: 250px;
        line-height: 50px;
        
    }
    .co__caja1{ 
        width: 400px;
        height: 200px;
    }
    .co__botones{  
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .bl__global{ 
        height: 1200px;
        margin-right: 130px;
    }
    .libros .bl__tituloLibro{   
        margin-right: 130px;
    }
    .pa-em-qs__iframe img{    
        width: 300px;
        height: 400px;
     }
    .pa-em-qs__mensaje{    
        line-height: 20px;
        padding: 0px 15px;
        height: 300px;
        font-size: 0.7rem;
    }
    
 }
 

 /*------------------------------------- adaptación para celulares ---------------------*/
 @media screen and (min-width:200px) and (max-width:500px) {
   
     container{    
        margin: 10px auto;
        height: 100rem;
    }

     .fotoFondo{    
         display: none;
     }
    
     .header{ 
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
    }
    .logo_img{   
        width: 8rem;
        height: 8rem;
    } 
    .header__menu{   
     height: 60px;
     /* align-items: flex-end; */
     
    }
    .header__menu ul{  
     display: flex; 
     flex-direction: row;
     flex-wrap: wrap;
     line-height: 2px;
     
    }
    .header__menu ul li a{  
     font-size: 0.7rem;
     padding: 8px;
     
    }
     .iframe{    
         margin: auto;
         /* margin-top: 20px; */
         margin-top: 2rem;
     }
     .iframe img{   
         width: 20rem;
         height: 15rem;
     }
     .iframe img:hover { 
         transform: none;
    }
     .vacio{ 
         height: 300px;
         width: 300px;
     }
     .Parrafo1__header{  
         margin: auto;
         height: 50px;
     }
     .Parrafo1__titulo{   
        font-size: 1.5rem;
     }
     .Parrafo1__p{   
         line-height: 15px;
         padding: 0px 15px;
         height: 450px;
         font-size: 0.7rem;
     }
     .Parrafo2__header{  
         margin: auto;
         margin-top: 40px;
     }
     .Parrafo1__titulo{   
         margin-top: 10px;
     }
     .Parrafo2__p{   
         line-height: 15px;
         padding: 0px 15px;
         height: 250px;
         font-size: 0.7rem;
     }
     .encuesta{   
         flex-direction: row;
         justify-content: center;
         margin: auto;
         flex-wrap: wrap;
         align-items: center;
     }
     .encuesta__titulo{  
         width: 100%;
         margin: auto;
         font-size: 1.5rem;
         line-height: 20px;
     }
 
     .footer{   
         display: flex; 
         flex-direction: column;
         justify-content: center;
         margin: auto;
     }
     .footer__p{ 
         width: 100%;
         margin-top: 30px;
         margin: auto;
     }
     .footer__contacto{ 
         width: 100%; 
         margin-top: 30px;
         margin: auto;
     }
     .footer__leyendas{  
         width: 100%;
         margin-top: 30px;
         margin: auto;
     }
     .iconos{    
         width: 100%;
         margin: auto;
     }
    .co__global{    
        height: 1000px;
    }
    .co__caja{ 
        width: 200px;
        line-height: 50px;
    }
    .co__caja1{ 
        width: 300px;
        height: 250px;
    }

    .co__submit{  
            width: 80px;  
            height: 50px;
            color: black;
            line-height: 30px;
            text-align: center;
            display: inline-block;      
            margin-top: 30px;
            margin-left: 0px;
    } 
    .co__reset{    
            width: 80px;
            height: 50px;
            color: black;
            line-height: 30px;
            text-align: center;
            display: inline-block;  
            margin-top: 30px;
            margin-left: 100px;
    } 

    .en__titGral1{ 
        font-size: 1.5rem;
    }
    .en__titGral2{ 
        font-size: 1.5rem;
    }
    .agrandarTamaño{    
        font-size: 1.6rem;
    }
    .pa-em-qs__titGral{ 
        display: inline-block;
        font-size: 1.5rem;
        margin-left: 100px;
    }
    .pa-em-qs__iframe{    
        margin: auto;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        padding:0px 10px;
    }
    .pa-em-qs__iframe img{    
        width: 200px;
        height: 300px;
     }
    .pa-em-qs__iframe img:hover{    
        transform: none;
    }

    .pa-em-qs__global{ 
        height: 400px;
        margin-top: 90px;
    }
    .pa-em-qs__mensaje{    
        line-height: 20px;
        padding: 0px 15px;
        height: 350px;
        font-size: 0.7rem;
        
    }
    .pa-em-qs__turnos{ 
        font-size: 1.5rem;
        margin-left: 5px;
    }
}
